@import '../../../../styles/global';

.coach-modal-window {
    width: 700px;
    max-height: 80vh;

    display: flex;
    flex-direction: column;
    gap: 12px;

    position: relative;

    overflow: scroll;

    background-color: #fff;

    padding: 20px;

    border-radius: 20px;

    &::-webkit-scrollbar { display: none }
    
    @media screen and (max-width: 740px) {
        max-height: none;
        width: 95vw;
        height: 95vh;

        border-radius: 20px;
    }
}

.coach-modal-window-close-btn {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;

    cursor: pointer;

    svg {
        font-size: 20px;

        transition: .3s;
    }

    &:hover, &:active { svg { opacity: 0.7 } }
}

.coach-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.coach-img-wrapper {
    border: 2px solid $main-red-color;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    padding: 2px;
}

.coach-img {
    width: 280px;
    height: 280px;

    border-radius: 50%;
}

.coach-name {
    font-family: custom-semi, Manrope, sans-serif;

    font-size: 20px;
}

.coach-description {
    align-self: stretch;

    padding: 10px;

    text-align: center;

    border: 2px solid #c73529;
    border-radius: 20px;
}

.coach-skills-list {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.coach-skill-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.coach-skill-item-marker {
    width: 10px;
    height: 10px;

    flex-shrink: 0;

    background-color: $main-red-color;

    border-radius: 50%;
}

// price

.coach-price {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.coach-price-header {
    font-size: 20px;

    font-family: custom-semi, Manrope, sans-serif;
}

.coach-price-list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding-left: 12px;
}

.coach-price-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.coach-price-item-name {
    font-size: 18px;
}

.coach-price-item-amount {
    font-size: 18px;

    font-family: custom-semi, Manrope, sans-serif;

    color: $main-red-color;
}