@import '../../../styles/global';

.personal-data {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-data-info {
    flex-grow: 1;
    max-width: 1250px;

    text-align: justify;

    padding: 20px;
}