@import '../../styles/global';
// functions
%link-settings {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #fff;
    font-size: 18px;

    transition: .3s;

    &:hover {
        opacity: 0.7;
    }

    svg {
        color: $main-red-color;
        font-size: 22px;
    }
}
// styles

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0;

    overflow: hidden;

    padding: 16px 0;

    background-color: $main-black-color;

    z-index: 90;

    @media screen and (max-width: 1199px) { & { padding: 10px 0 } }
}

.header-desktop-version {
    width: 1300px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 0 20px;

    @media screen and (max-width: 1199px) { & { display: none } }
}

// up section

.header-up-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

.header-address-section {
    display: flex;
    align-items: center;
    gap: 20px
}

.header-img-wrapper {
    overflow: hidden;

    cursor: pointer;

    &:hover { img { opacity: 0.7 } }
}

.header-desktop-img {
    width: 330px;
    height: 46px;

    transition: .3s;
}

.header-address-link { @extend %link-settings }

.header-contacts-section {
    display: flex;
    align-items: center;
    gap: 20px
}

.header-tel-link { @extend %link-settings }

.header-social-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-social-net-item { @extend %social-net-settings }

// down section

.header-down-section-wrapper {
    display: flex;
    justify-content: flex-end;
}

.header-navigation-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-navigation-between-line {
    cursor: default;

    color: #fff;

    opacity: 0.2;

    font-size: 22px;
}

.header-navigation-info {
    transition: .3s;

    color: #fff;

    cursor: pointer;

    font-size: 18px;

    &:hover { opacity: 0.7 }
}

.header-to-sales-link { color: $main-red-color }

// mobile header

.header-mobile-version {
    display: none;
    flex-direction: column;
    align-self: stretch;

    padding: 0 10px;

    @media screen and (max-width: 1199px) { & { display: flex } }
}

.header-mobile-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// left section
.header-mobile-left-section {
    height: 55px;

    display: flex;
    align-items: center;
    gap: 5px;

    transition: .3s;

    &:active { opacity: 0.7 }
}

.header-mobile-bars {
    display: flex;
    justify-content: center;

    svg {
        width: 18px;
        height: 18px;

        color: #fff;

        transition: .3s;
    }
}

.header-mobile-menu-label {
    font-size: 18px;
    color: #fff;
}

// right section
.header-mobile-contacts {
    display: flex;
    align-self: stretch;
}

.header-mobile-contacts-list {
    display: flex;
    align-items: center;
}

.header-mobile-contacts-item {
    width: 36px;

    display: flex;
    align-self: stretch;
}

.header-mobile-contacts-link {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 22px;
        height: 22px;

        transition: .3s;

        color: $main-red-color;
    }

    &:active { svg { opacity: 0.7 } }
}